


<!--<button   name="thumbs-up" (click)="quoteUpVote(true)" width="60">{{  quote.quoteupVote }}</button>
<button  name="thumbs-down" (click)="quoteDownVote(true)" width="100">{{ quote.quotedownVote }}</button>-->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<p> <i class="fa fa-thumbs-up" (click)="quoteUpVote(true)">{{  quote.quoteUpVote }} </i> 
    <i class="fa fa-thumbs-down" (click)="quoteDownVote(true)"> {{ quote.quoteDownVote }} </i></p>



