<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h2>The Quotes</h2>
            <hr>
            <!--highlight quote with highest votes-->
            <p appHighlight>{{quote[0].quoteText}} </p>
            <!--Get sorted array-->
            <ol>
                <div *ngFor='let quote of sortQuotes; let i=index'>


                 <li class="card-text"  style="max-width: 18rem;"> {{quote.quoteText}} created on {{quote.dateCreated|date}}</li>
                    <button (click)='toggleDetails(i)' class="btn btn-success">Show Details</button>
                    <app-quote-detail *ngIf='quote.showDescription' [quote]='quote'
                        (isComplete)='deleteQuote($event,i)'></app-quote-detail><br><br>

                    <!-- <app-quote-detail *ngIf="quote.showDescription" [quote]="quote" (isComplete)="deleteQuote($event, i)"></app-quote-detail>-->
                    <app-vote [quote]='quote' (isUpVoted)="upVoteQuote($event,i)"
                        (isDownVoted)=" downVoteQuote($event,i)"></app-vote>

                </div>
            </ol>
        </div>
        <div class="col-md-6">
            <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
        </div>
    </div>




</div>