.card-body{
    background-image: url("https://www.brainyquote.com/photos_tr/bg_thumbnails/bg_0351.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    font-weight: bolder;
    font-family: 'Itim', cursive;
}