
h1, h2 {
font-weight: bolder;
font-size-adjust: inherit;
font-size:60;

}
 /* {
    position: fixed;
    top: 0;
    width: 100%;
  }

   + .content {
    padding-top: 60px;
  } */
li {
    border-right: 1px solid #bbb;
    color: black;
    font-weight: 900;
    text-align-last: right;
  }
  
  li:last-child {
    border-right: none;
  }




