input[type=text]:focus {
    border: 3px solid #555;
  }
  input[type=submit]:hover {
    background-color: #45a049;
  }
  .card-body{
    font-weight: 800;
    
  }
  .quote {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .8s ease;
    backface-visibility: hidden;
  }
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  .col-md-6:hover:hover .image {
    opacity: 1.3;
  }
  .col-md-6:hover .middle {
    opacity: 1;
  }
  .text {
    background-color: pink;
    color:green;
    font-size: 16px;
    padding: 16px 32px;
  }
 